{% extends "::base.html.twig"   %}
{% block body %}
    <h1>Ajouter une equipe</h1>
    <form action="" method="post" >
        {{ form_widget(form) }}
        <input type="submit" >

    </form>
{% endblock body %}
